<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="../css/order.css" />
</head>

<body>
    <div id="nav" class="wrapper">
        <div class="user subwrapper">
            <a href="#"></a>
            <span class="user_name">用户名字</span>
        </div>
        <div class="wrapper" id="get_order_search">
            <div class="subwrapper" id="logo_upload">
                <button class="button" type="button" onclick='javascript:window.location.href="order_index.html"' style="float: right;">返回订单主页</button>
                <div class="order_sum_show">
                  <label>输入订单id：<input type="text" name="order_id" id="order_id"></label>
                  <button type="button" id="search" class="button">查询</button>
                </div>
                  <div id="order_order_show">
                    <div class="show_order_table">
                      <div class="show_order_tr">
                        <div class="show_order_th">订单ID</div>
                        <div class="show_order_th">是否加急</div>
                        <div class="show_order_th">批次ID</div>
                        <div class="show_order_th">批次编号<br>(再次打印完毕时间)</div>
                        <div class="show_order_th">发送时间<br>(重传时间)</div>
                        <div class="show_order_th">接收时间<br>(再次接收时间)</div>
                        <div class="show_order_th">入队时间<br>(再次入队时间)</div>
                        <div class="show_order_th">打印时间<br>(再次打印时间)</div>
                      </div>

                      <div class="show_order_tr" v-for="order in show_area" >
                          <div class="show_order_td" v-text="order.id"></div>
                          <div class="show_order_td" v-text="order.orderType"></div>
                          <div class="show_order_td" v-text="order.bulkId"></div>
                          <div class="show_order_td" v-text="order.bulkIndex"></div>
                          <div class="show_order_td" v-text="order.sendTime"></div>
                          <div class="show_order_td" v-text="order.acceptTime"></div>
                          <div class="show_order_td" v-text="order.enterQueueTime"></div>
                          <div class="show_order_td" v-text="order.startPrintTime"></div>
                          <div class="show_order_error">
                            <div class="show_order_td" v-if="order.execPrintResultTime">（{{order.execPrintResultTime}}）</div>
                            <div class="show_order_td" v-if="order.execSendTime">（{{order.execSendTime}}）</div>
                            <div class="show_order_td" v-if="order.execAcceptTime">（{{order.execAcceptTime}}）</div>
                            <div class="show_order_td" v-if="order.execEnterQueueTime">（{{order.execEnterQueueTime}}）</div>
                            <div class="show_order_td" v-if="order.execStartPrintTime">（{{order.execStartPrintTime}}）</div>
                          </div>
                      </div>
                    </div>
                    <div class="order_page">
                      <a v-on:click="last_page()" href="javascript:void(0)">上一页</a>
                      <div v-for="order in orders" >
                      <a href="javascript:void(0)" v-on:click="change_page($index)" v-bind:class="{'show_here': order.page == page}">{{order.page}}</a>
                      </div>
                      <a v-on:click="next_page()" href="javascript:void(0)">下一页</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/mock.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../js/search.js"></script>
</body>

</html>
