<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/order.css">
	<style>
		#order_length:after{
			content: 'K';
		}
		#jiaji label{
			overflow: hidden;
		    margin-top: 10px;
		}
		#jiaji input{
		    display: inline;
		    height: 16px;
		    float: left;
		    /* vertical-align: middle; */
		    padding: 0;
		    margin: 4px 0;
		    width: 30px;
		}
		form div{
			padding: 0 10px;
		}
		.login form{
			padding: 4em 4.5em;
		}
	</style>
	
</head>
<body class="login">
	<div id="nav" class="wrapper">
        <div class="user subwrapper">
            <a href="#"></a>
            <span class="user_name">用户名字</span>
        </div>
    </div>
    <div class="wrapper">
    <!-- 修改完这个之后还要修改factory的路径 -->
		<form  id="order_factory">
			<div v-for="a in arr">
				<div class="clear">
					<button type="button" v-on:click="addItem($index)" class="add_item">+</button>
					<button type="button" v-on:click="delectItem($index)"  class="delect_item">-</button>
				</div>
				<label for="">订单数量：<input type="number" name="number{{$index}}" id="" v-model="a.number"></label>
				<label for=""  id="order_length">订单长度：<input type="number" name="size{{$index}}" style="width: 40px ;display: inline-block; margin: 0 10px;" v-model=" a.size"></label>
				<label id="jiaji">设置加急：
					<label><input type="radio" name="orderType{{$index}}" id="" value="false" v-model="a.orderType">不加急</label>
					<label><input type="radio" name="orderType{{$index}}" id="" value="true" v-model="a.orderType"> 加急</label>
				</label>
			</div>
			<button type="button" v-on:click="submit_factory()">提交</button>
		</form>
    </div>
    <script src="../js/vue.js"></script>
	<script src="../js/jquery.min.js"></script>
    <script src="../js/factory.js"></script>
</body>
</html>