<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qg.smpt.web.model.User">
    <resultMap id="userResultMap" type="com.qg.smpt.web.repository.UserRepository" >
        <id column="id" property="id" jdbcType="int" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
        <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
        <result column="user_printers" property="userPrinters" jdbcType="INT"/>
        <result column="user_logo" property="userLogo" jdbcType="VARCHAR"/>
        <result column="user_qrcode" property="userQRCode" jdbcType="VARCHAR"/>
        <result column="user_store" property="userStore" jdbcType="VARCHAR"/>
        <result column="user_address" property="userAddress" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectUser" resultType="User">
        select * from USER where id = #{id}
    </select>
    
    <insert id="insertUser" parameterType="User">
        insert into USER(id, userName, userAccount, userPassword, userPrinters, userLogo, userQRCode, userStore, userAddress, userPhone)
                VALUES (#{id}, #{userName}, #{userAccount}, #{userPassword}, #{userPrinters},
                #{userLogo}, #{userQRCode}, #{userStore}, #{userAddress}, #{userPhone})

    </insert>

    <update id="updateUser" parameterType="User">

    </update>
</mapper>